@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 4rem;
	color: #fff;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: rgb(14, 15, 19);
}

.container {
	padding: 2em;
	text-align: center;
	border-radius: 0.5em;
	background-image: linear-gradient(to bottom right, #00c0ff, #4218b8);
	transition: filter 1s ease;
}

.container:hover {
	filter: drop-shadow(2px 2px 15px #20a9ffdb);
}

.buttons {
	display: flex;
	flex-direction: column;
}

.buttons button {
	color: #10436f;
	width: 250px;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 0.5em 0em;
	cursor: pointer;
	margin: 0.15em 0em;
	border: none;
	border-radius: 0.15em;
	background: #fff;
	letter-spacing: -1px;
}

.buttons button:hover {
	color: #fff;
	background: #10436f;
	filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.5));
	transform: scale(1.075);
	transition: 0.5s;
}
